.sidebar-section {
  display: flex;
  /* background-color: black; */
  background-color: #e0e4e4;
}
.sidebar {
  height: 100vh;
  /* background-color: #1e1e2c; #6c6c6c */
  /* background-color: #474747; */
  background-color: #4c5c75;
  width: 90px;
  position: fixed;
}
.sidebar-toggle {
  width: 250px;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebar-toggle-icons p svg {
  /* background-color: #f29f67; */
  background-color: #f35170;
  color: white;
  margin-top: 10px;
}

/* mobile view */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
